*{
    box-sizing:border-box;
    font-family: 'Cutive Mono', monospace;
}

body{    
    position:relative;
    background-image: url("images/background-texture.jpg");
    background-repeat: repeat;
    background-position: top left;
    text-align: center;
    min-height:70vh;
    margin:0;
    padding:0;
}

header{
    margin-bottom: 30px;
}

main{
    margin-top:250px;
}

.navBar{
    position: fixed;
    background-image: url("images/paper-edges-hor-2.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height:320px;
    width:100%;
    top: 0;
    z-index: 10;
    padding:0;
    margin:0;
}
/* contact info at bottom of page */
body::after {
    content: '';
    display: block;
    height: 100px; /* Set same as footer's height */
}
  
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    font-size:28px;
}

.navButtons{
    display: block;
    position: sticky;
    padding-inline-start: 0px;
}

ul a{
    color:black;
    text-decoration: none;
}

.navButtons > li:before{
    cursor:pointer;
    text-decoration:none;
}

.navButtons li {                                    /* animated underline for nav*/
    cursor: pointer;
    color: black;
    text-decoration: none;
    
    display: inline-block;
    padding: 1px 0px;
    margin:0px 20px;
    position: relative;

    list-style: none;
    font-size:18px;
}
.navButtons li:after{ 
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: 50%;
    background: black;
    transition: 0.7s ease 0s, 0.3s ease 0s;
    width: 0;
}
.navButtons li:hover:after { 
    width: 100%; 
    right: 0; 
}

.js-pressed{    
    font-weight:1000;
}
/* text sizes */
h1{
    font-size:30px;
    margin-top:15px;
    margin-bottom:5px;
}

h2{
    font-size:32px;
    margin-left:auto;
    margin-right:auto;
}

h3{
    position: relative;
    font-size:23px;
    padding:10px;
    margin:0;
}

h4{
    position: relative;
    font-size: 15px;
    margin: auto;
    margin-bottom: 10px;
}

p{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 77%;
    font-size:18px;
    font-weight:300;
}

 /* project display */
.projBlerb{
    text-align:center;
    margin:auto;
    width:80%;
}

.project-link, .screenshot{
    position:relative;
    margin-bottom:5px;
}

span a{
    margin:5px;
    padding-bottom:5px;
}

.screenshot{
    max-width:100%;
}

.projArea{
    display: block;
    position:relative;
    width:100%;
    background:#d6d4d4;
    margin-top:5px;
    margin-bottom:30px;
    padding-bottom:8px;
    border-top: 1px solid #b9aeae;
    border-bottom: 1px solid #b9aeae;
}

/* font-awesome icons */
.fab, .fa-database, .fa-server{
    opacity:0.5;
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
    margin-left:8px;
}

.first-line{
    text-align:center;
}

footer a{
    display:inline-block;
}

footer a, footer a:visited,footer a:hover{
    color: black;
}

/*  thinner scroll bar */
::-webkit-scrollbar {                                     
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #eaeaea; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius:4px;
}
/*  desktop stuff */
@media all and (min-width: 700px) {                                           
    h1{
        font-size:40px;
    }
    .projArea{
        display: block;
        position:relative;
        width:65%;
        background:#d6d4d4;
        margin-left:auto;
        margin-right:auto;
        margin-top:5px;
        margin-bottom:100px;
        padding-bottom:8px;
        border: 1px solid #b9aeae;
        border-radius: 3px;
    }
    p{
        text-align: justify;
        width:60%;
    }
    .screenshot{
        width:100%;
    }
    
}