*{
    box-sizing:border-box;
}

body{    
    position:relative;
    
    text-align: center;
    margin:0;
    padding:0;
/* 
    margin-top: 0; 
    padding-top: 0; 
    margin-bottom: 0; 
    padding-bottom: 0; */
}

header{
    margin-bottom: 30px;
}

main{
    margin-top:250px;
}

.navBar{
    position: fixed;
    background-position: center;
    min-height:320px;
    width:100%;
    top: 0;
    padding-top:50px;
    margin:0;
    z-index: 10;
}

body::after {
    content: '';
    display: block;
    height: 100px; /* Set same as footer's height */
}
  
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.navButtons{
    background-color: grey;
    display: block;
    padding-inline-start: 0px;
}


.navButtons li {             /* animated underline for nav*/
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 1px 0px;
    margin:0px 20px;
    position: relative;

    list-style: none;
    font-size:18;
}


h1{
    font-size:40;
    margin-top:15px;
    margin-bottom:5px;
}

h2{
    font-size:32;
    margin-left:auto;
    margin-right:auto;
}

h3{
    position: relative;
    font-size:23;
    padding:10px;
    margin:0;
}

h4{
    position: relative;
    font-size:22;
    margin-top: 50px;
    margin: auto;
    padding:10px;
}

p{
    background-color: slategray;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 77%;
    font-size:18;
    font-weight:300;
}

.projBlerb{
    text-align:center;
    margin:auto;
    width:80%;
}

.project-link, .screenshot{
    position:relative;
    margin-bottom:5px;
}

span a{
    margin:5px;
    padding-bottom:5px;
}

.screenshot{
    max-width:100%;
    width:1100px;
    min-height:200px;
}

.projArea{
    display: border-box;
    position:relative;
    width:100%;
    background:#d6d4d4;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    margin-bottom:55px;
    padding-bottom:8px;
    border: 1px solid #b9aeae;
}


.first-line{
    text-align:center;
}

footer{
    font-size:28;
    margin-left: auto;
    margin-right: auto;
}

.contact{
    display:inline-block;
}

.contact a, a:visited, a:hover{
    color: black;
}

@media all and (min-width: 700px) {
html{
    background-color:ivory;
}
.projArea{
    display: border-box;
    position:relative;
    width:75%;
    background:#d6d4d4;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    margin-bottom:100px;
    padding-bottom:8px;
    border: 1px solid #b9aeae;
    border-radius: 3px;
}

}